.next-button,
.back-button,
.cancel-button,
.submit-button {
  margin: 20px 10px 0 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1422df;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.next-button:hover,
.back-button:hover,
.cancel-button:hover,
.submit-button:hover {
  background-color: #0e1abc;
}

.onboarding-controls{
    display: flex;
    justify-content: space-between;
}